/* Adminimal Theme overrides file. All selectors must start with ".adminimal" */

@import '_utils/variables';
@import '_utils/functions';

.adminimal .link.tabledrag-toggle-weight {
    margin-bottom: 0.3em;
}

.adminimal .dropbutton-single .dropbutton-action a {
    border-radius: 0 !important;
    background-image: none;
    background: #F5F5F2;
}

.adminimal .ui-dialog .ui-dialog-titlebar {
    border-radius: 0;
    background: #333;
}

.adminimal .ui-dialog .ui-widget-content.ui-dialog-buttonpane {
    border-radius: 0;
}

.adminimal .ui-dialog .ui-dialog-titlebar,
.adminimal .ui-dialog {
    outline: none;
}

.adminimal .ui-dialog {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-state-active,
.adminimal .ui-button-icon-only.ui-dialog-titlebar-close.ui-widget-content .ui-state-active {
    background: transparent;
    border-color: transparent;
    color: transparent;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close {
    opacity: 0.5;
    transition: all, 0.2s;
}

.adminimal .ui-dialog .ui-dialog-titlebar-close:hover {
    opacity: 1;
}

.adminimal .messages {
    margin: 1rem 0 1rem 0;
    border-width: 1px 0px 1px 0;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
    background-size: 1.3rem;
    background-position: 5px 50%;
}

.adminimal .messages--error {
    border-color: #E32700;
}

.adminimal .messages--warning {
    border-color: #E29700;
}

.adminimal .messages--status {
    border-color: #73B355;
}

.adminimal .cke_top,
.adminimal .cke_bottom {
    background: #F7F7F7;
    background-image: none;
    box-shadow: none;
}

.adminimal .filter-wrapper {
    background: #F7F7F7;
}

.adminimal .cke_ltr .cke_button:first-child,
.adminimal .cke_rtl .cke_button:last-child,
.adminimal .cke_toolgroup {
    border-radius: 0;
}

/* Main menu icons end. */
.adminimal.path-batch .layout-container {
    padding-top: 1.3rem;
}
