@import '_utils/variables',
    '_utils/functions',
    '_utils/grid',
    '_utils/icons';

@import 'base/base';

@import 'components/buttons',
    'components/admin-list',
    'components/ajax-progress',
    'components/breadcrumb',
    'components/button-group',
    'components/container-inline',
    'components/content-header',
    'components/dropdown',
    'components/dropdown.icons',
    'components/entity-meta',
    'components/forms',
    'components/panel',
    'components/tabledrag',
    'components/tables',
    'components/tabs',
    'components/tags',
    'components/theme-info',
    'components/horizontal-tabs',
    'components/vertical-tabs',
    'components/views-admin';

@import 'layout/layout';

.tabledrag-toggle-weight-wrapper {
    display: none;
}

#edit-cancel {
    margin-left: 5px;
}

.js input.form-autocomplete {
    background-position: 99% center;
}
