$base-font-family:
    // Safari for OS X and iOS (San Francisco)
    -apple-system,
        // Chrome for OS X (San Francisco)
    BlinkMacSystemFont,
        // Windows
    "Segoe UI",
        // Android
    "Roboto",
        // Basic web fallback
    "Helvetica Neue", Arial, sans-serif !default;

// The default colors used in text.
$dark-text-default: #393A45 !default;
$light-text-default: #FFFFFF !default;

$default-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);

// Buttons
$button-variants: (
    'primary': #3B495D,
    'danger': #CA5A41,
);

// Content header
$content-header-bg: #2A323C;
$content-header-color: #FFFFFF;

// Vertical tabs
$vertical-tabs-bg-color: #D7DBDF;
