.l-node-form {
    display: flex;

    &__main {
        flex: .8;
        background: #ffffff;

        > .form-wrapper {
            margin-left: 30px;
            margin-right: 30px;
        }

        .form-actions {
            margin-bottom: 30px;
        }
    }

    &__details {
        flex: .2;
        padding: 0 20px;
        background: $body-bg-color;
    }
}
