.block-page-title-block {
    font-style: italic;

    em {
      font-style: normal;
      font-weight: bold;
    }
}

.node-form {
    position: relative;

    width: 100%;
    max-width: 1280px;

    background-color: $body-bg-color;

    &::before,
    &::after {
        content: "";

        position: absolute;
        top: 0; bottom: 0;

        width: 100vw;

        background-color: $body-bg-color;
    }

    &::before {
        right: 100%;
    }

    &::after {
        left: 100%;
    }
}

.l-node-form {
    display: flex;
    flex-direction: row;

    align-items: flex-start;

    width: 100%;

    background-color: $body-bg-color;

    &__main {
        width: calc(100% - 300px);

        background: #ffffff;

        > .form-wrapper {
            margin: 0 30px !important;
        }

        .form-actions {
            margin: 0 !important;
            padding: 20px;

            border-left: 240px solid $body-bg-color;
            border-bottom-left-radius: 4px;
            border-bottom-right-radius: 4px;
        }
    }

    &__details {
        width: 300px;

        padding: 0 20px;
        background: $body-bg-color;

        .inline {
            display: inline;
        }
    }
}

.l-node-form__main > .field-group-tabs-wrapper > .vertical-tabs,
.settings-form > .field-group-tabs-wrapper > .vertical-tabs {
    display: flex;
    flex-direction: row;

    margin: 0;

    .vertical-tabs__menu {
        flex-grow: 0;
        flex-shrink: 0;

        width: 240px;
        margin: 0;
        padding: 0;

        background-color: $body-bg-color;

        border: 0;
        box-shadow: none;
    }

    .vertical-tabs__menu-item {
        background-color: #fff;
        border: none;

        &:first-child {
            border-top-left-radius: 4px;
        }
        &:last-child {
            border-bottom-left-radius: 4px;
        }

        .form-required::after {
            display: none !important;
        }

        &-summary {
            display: none;
        }

        &.is-selected a {
            color: #CA5A41;
        }
    }

    .vertical-tabs__panes {
        width: 100%;

        margin: 0;
        padding: 0 20px;
    }
}

.settings-form {
    .form-wrapper {
        margin: 0;
    }

    .form-actions {
        margin: 0 0 -20px 0 !important;
        padding: 20px;

        border-left: 240px solid $body-bg-color;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
}
