.l-node-form {
    display: flex;

    &__main {
        flex: .8;
        background: #ffffff;

        .form-actions {
            margin-left: 20px;
        }
    }

    &__details {
        flex: .2;
        padding: 0 20px;
        background: $body-bg-color;
    }
}
