.admin-overview {
    .views-table {
        .views-field-type {
            padding: 0 5px;
            width: 15px;
        }

        .views-field-status {
            padding: 0 5px;
            width: 15px;
        }
    }
}
