.admin-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        margin: 15px 0;
        padding: 5px 15px 15px 0;
        border-bottom: 1px solid $table-border-color;
        transition: background-color .2s, opacity .2s cubic-bezier(0.770, 0.000, 0.175, 1.000);
        opacity: .85;

        &:last-of-type {
            border-bottom: 0;
        }

        &:hover,
        &:focus {
            opacity: 1;
        }
    }

    a {
        text-decoration: none;
    }

    .label {
        font-size: 1.1rem;
        color: #333;
        font-weight: 800;
    }
}

.admin__list {
    @include media-breakpoint-up('xl') {
        display: flex;
        justify-content: space-between;
    }
}

.admin__list--left {
    flex: 1;
    margin-right: 15px;
}

.admin__list--right {
    flex: 1;
    margin-left: 15px;
}
