.content-header {
    background-color: $content-header-bg;
    color: $content-header-color;
    padding: 1rem 0 3rem;
}

.page-title {
    font-size: 1.4rem;
    line-height: 2;
    font-weight: 600;
}
