.entity-meta {
    border: 0;
    background-color: $vertical-tabs-bg;
    box-shadow: none;

    details {
        border: 0;
        background: $vertical-tabs-bg;
    }
}

.entity-meta__header {
    padding: 0;
    border: 0;
    background-color: $vertical-tabs-bg;
}
