.field--type-entity-reference {
    max-width: none;

    padding: 0;

    border: none;

    legend {
        display: none;
    }

    tr {
        border: 0 !important;
    }

    .field-label {
        padding: 0;

        .label {
            font-weight: 600;
            padding: 0 50px;
        }
    }

    td {
        input {
            display: inline-block;
            vertical-align: middle;
        }

        &.empty {
            padding: 0;

            font-size: 12px;
        }
    }

    th:first-child,
    td:first-child {
        display: none;

        padding-left: 0;
    }
}
