.icon {
    &::before {
        @include ionicons;
        text-align: center;
    }
    &--article::before {
        content: $ionicon-var-document-text;
    }
    &--video::before {
        content: $ionicon-var-ios-videocam;
    }
    &--playlist::before {
        content: $ionicon-var-ios-list;
    }
    &--program::before {
        content: $ionicon-var-ios-lightbulb;
    }
    &--stub::before {
        content: $ionicon-var-link;
    }
    &--combined_tags::before {
        content: $ionicon-var-pricetags;
    }
    &--scheduled::before {
        color: #ffaa46;
        content: $ionicon-var-calendar;
    }
    &--published::before {
        color: #27AE60;
        content: $ionicon-var-checkmark;
    }
    &--draft::before {
        content: $ionicon-var-edit;
    }
    &--s::before {
        width: 14px;
        padding-right: 5px;
    }
    &--m::before {
        padding-right: 10px;
    }
    &--l::before {
        width: 28px;
        margin-right: 10px;
    }
}
