.field-multiple-table {
    thead tr {
        border-bottom: 0 !important;
    }

    .field-label {
        padding: 0;

        background-color: transparent;
    }

    td {
        padding: 0 !important;
    }
}
