.draggable {
    padding: 0;

    background-color: transparent;

    &:hover,
    &:focus {
        background-color: #f5f5f5;
    }

    &:not(:last-child) {
        border-bottom: 1px solid #f5f5f5;
    }

    .field-multiple-drag {
        flex-grow: 0;
        flex-shrink: 0;

        width: 40px !important;
    }

    a.tabledrag-handle {
        display: flex;
        justify-content: center;
        align-items: center;

        box-sizing: content-box;
        width: 40px;
        height: 20px;

        padding: 0 !important;
        margin: 0;

        text-decoration: none;

        .handle {
            width: 40px;
            height: 20px;

            margin: 0;
            padding: 0;

            background-position: center;
            background-repeat: no-repeat;
            background-size: 16px;
        }

        & + .tabledrag-changed {
            display: none;
        }
    }

    .block {
        display: inline-flex;
    }

    .warning.tabledrag-changed {
        position: absolute;
        top: calc(50% - 12px);
        right: 0;
    }
}

.warning.tabledrag-changed {
    text-decoration: none;
}
