table {
    .dropdown-group {
        .button {
            font-size: 12px;
            padding: 4px 10px;
        }
    }
}

th {
    padding: 10px;
}

td {
    padding: 3px 10px;

    &.views-field-operations {
        padding: 1px 10px;
    }
}

tr {
    border-bottom: 1px solid $table-border-color;
}

thead {
    tr {
        border-bottom: 1px solid $table-border-color;
    }
    th {
        border: none;
        background-color: $table-header-bg-color;
        color: $table-header-text-color;
        text-transform: none;
        font-weight: 600;

        a {
            &,
            &:hover,
            &:focus {
                color: #333333 !important;
            }
        }

        &.is-active {
            background: #F5F5F3;
            border-bottom-color: transparent;

        }
    }
}

tbody tr {
    transition: background-color .25s;

    &:hover,
    &:focus {
        background-color: $table-hover-bg-color;
    }

    &:last-of-type {
        border-bottom: 0;
    }
}

th > a:hover {
    text-decoration: underline;
}

th > a:after,
th.is-active > a:after {
    display: none;
}
