.tabs {
    background-color: transparent;

    .is-horizontal & .tabs__tab {
        margin: 0 !important;
    }

    a {
        transition: background-color .25s ease-in-out;
        padding: 15px !important;

        &:active,
        &:hover,
        &:focus {
            text-decoration: none !important;
        }
    }
}
