.tabs {
    list-style: none;
    padding: 0;
    margin: 0;
}

.tabs.primary {
    box-shadow: 0 1px 0 0 #E6E6E6;
    border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.tabs__trigger {
    display: none !important;
}

.tabs__tab {
    float: left;
    position: relative;
    display: block;
    font-weight: 500;
    font-size: 14px;

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    &:not(.is-active) {
        opacity: .8;
    }

    &.is-active {
        > a {
            background-color: $tabs-tab-active-bg-color;
            color: $tabs-tab-text-color;
            border-bottom-color: $tabs-tab-active-border-color;

            &:hover,
            &:focus {
                background-color: $tabs-tab-active-bg-color;
                border-bottom-color: lighten($tabs-tab-active-border-color, 5%);
            }
        }
    }

    > a {
        display: block;
        padding: 10px 15px;
        border-bottom: 1px solid $tabs-tab-border-color;
        background-color: $tabs-tab-bg-color;
        color: $tabs-tab-text-color;
        transition: all .2s ease-in-out;
        margin-bottom: -1px;

        &:hover,
        &:focus {
            text-decoration: none;
            background-color: $tabs-tab-hover-bg-color;
            border-bottom-color: lighten($tabs-tab-active-border-color, 25%);
        }
    }
}
