.views-exposed-form {
    .form--inline {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.views-form {
    .form-wrapper {
        display: flex;
        align-items: flex-end;
    }

    .form-item {
        margin-right: 0.5em;
    }
}

.views-table {
    font-size: 14px;
}
