*,
*::after,
*::before {
    box-sizing: inherit;
}

html {
    box-sizing: border-box !important;
}

body {
    font-family: $base-font-family;
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    background-color: #FBFAF8;
}

a {
    color: darken(#588FCF, 15%);
}
